---
import type { MarkdownLayoutProps } from 'astro';
import Layout from '../layouts/page.astro';
import Right from '../components/right.astro';
import Card from '../components/Card.astro';
const posts = await Astro.glob('../pages/bio-posts/*.md');
type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  desc: string;
}>;

const { frontmatter, url } = Astro.props;

---

<Layout title="Biology - My Blog" bantitle="Biology posts">
  <Right title="All Bio Posts">
    {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </Right>
    <section class="block"> 
    <p class="subtitle">What is this?</p>
    <p>A dashboard for what I've written about biology!</p>
    <p>Next to cybersecurity and programming, another one of my greatest interests is biology. I focus on biochemistry, pharmacology, and biomedical engineering. So, what's better than to make a dedicated space for it on my website?</p>

  </section>
    <section class="post-area">

      {posts.map(post =><Card href={post.url}, title={post.frontmatter.title}, date={post.frontmatter.date}, body={post.frontmatter.desc}/>)}


</section>
<button type="button" style = "bottom: 10px;" onclick="window.location='/Astro-Blog/'">&larr; Back</button>

</Layout>