---
import type { MarkdownLayoutProps } from 'astro';
import Right from '../components/right.astro';
import Layout from '../layouts/ind.astro';
import Card from '../components/Card.astro';
const posts = await Astro.glob('../pages/*/*.md');
type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  desc: string;
}>;

const { frontmatter, url } = Astro.props;

---

<Layout title="Home - My Blog" bantitle="Astro blog, by m-watermelon" bandesc="My personal website, updated somewhat often. ">
	<Right title="All Posts">
		{posts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)).map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
	</Right>	
	<h1 >Posts</h1>		
	<div class="post-area">
		{posts.map(post =><Card href={post.url}, title={post.frontmatter.title}, date={post.frontmatter.date}, body={post.frontmatter.desc}/>)}
</div>
	<section style="margin-top: 0px;">


	</section>
	  <section class="block">
		<p style="margin-bottom: 30px;">Check out my old blog site! It has some content too.</p>
		<button class="center" type="button" style = "width:200px; background:linear-gradient(60deg,var(--tropical-indigo) 0%, var(--dark-purple) 140%);" onclick="window.open('https://m-watermelon.github.io/WatermelonBlog/','_blank')">My old blog</button>
  
	</section>

</Layout>
<style>
	header{
		height:30vh;
	}

</style>


