---
import Nav from '../components/nav.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
const {title} = Astro.props
const {bantitle} = Astro.props
const {bandesc} = Astro.props
---
<html lang="en">
<Head title={title}  />
<body class="page-layout">

    <Nav  title={bantitle} desc={bandesc}/>
    <main transition:animate="fade" >
        <slot />
    </main>
    <Footer/>

</body>

</html>
<style>
    main{
        padding-left: 20%;
    }
</style>

