---
import Nav from '../components/smallnav.astro';
import Footer from '../components/footer.astro';
import Head from '../components/head.astro';
const {title} = Astro.props
const {bantitle} = Astro.props
const {bandesc} = Astro.props
---
<html lang="en">
<Head title={title}  />
<body class="page-layout">

    <Nav  title={bantitle} desc={bandesc}/>
    <main class="center" transition:animate="fade">
        <slot />
    </main>
    <Footer/>

</body>

</html>


